/*トップ画面背景*/
@chartest "UTF-8";
body{ 
  margin: 0;
}
.background {
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 25%;
}
#top {
  background-image: url(./top_pic.jpg);
  height: 100vh;
  font-size: 14px;
}
/*トップ画面タイトル*/
#top h1{
  color: #140500;
  font-family: 'Garamond', serif;
  font-size: 7vw;
  margin-right: 60vw;
  margin-bottom: 0;
  margin-left: 0.6em;
}
/*トップ画面説明書き*/
 #top p {
  color: #140500;
  font-family: 'Garamond', serif;
  font-size: 3vw;
  margin-left: 0.8em;
}

/*トップ画面ナビゲーションアイテム*/
ul#menu{
  list-style:none;
  margin: 0; padding:1em;
}
ul#menu li{
  display:inline;
  text-align:center;
  padding:0 0 0 .5em;
}
ul#menu a:hover,
ul#menu a#current {
  color:#211d1b4e;
  font-size: 15px;
  font-family: 'Garamond', serif;
  border-bottom:1px solid #da6702a2;
  text-decoration:none;
} 
ul#menu a{
  color:#280c02; font-weight:bold;
  font-size: 15px;
  font-family: 'Garamond', serif;
  border-bottom:1px solid #eee;
  text-decoration:none;
}

/*他のページのナビゲーション*/

ul#menu1{
  list-style:none;
  margin:0; padding:20px;
  background-color: #140500;
}
ul#menu1 li{
  display:inline;
  text-align:center;
  padding:0 0 0 .5em;
}
ul#menu1 a:hover,
ul#menu1 a#current {
  color:#f6dbb096;
  font-size: 20px;
  font-family: 'Garamond', serif;
  border-bottom:1px solid #faf8f65e;
  text-decoration:none;
} 
ul#menu1 a{
  color:#ffebd5; font-weight:bold;
  font-size: 20px;
  font-family: 'Garamond', serif;
  border-bottom:1.5px solid #eeeeee70;
  text-decoration:none;
}

/*レシピページ*/
#recipe {
  background-image: url(./recipe_pic.jpg);
  background-size:cover;
  margin-bottom: -30px;
  font-size: 14px;
}
#recipe h2{
  color: #f6ece0;
  font-family: 'Garamond', serif;
  font-size: 5.2vw;
  margin-left: 0;
  margin-bottom: 20px;
}
#recipe h3{
  color: #f4d3c7;
  font-family: 'Garamond', serif;
  font-size: 30px;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
#recipe h4{
  color: #f4d3c7;
  font-family: 'Garamond', serif;
  font-size: 60px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}
ul#item{
  color: #d4cccae4;
  font-family: 'Garamond', serif;
  font-size: 3vh;
  margin-left: 0;
  background-color: #250d0589;
  border: 1px solid #ffffff;
	width: 15vw;
	height: 100%;
}
ol#num{
  background-color: #250d0589;
  color: #fcf3e0;
  font-family: 'Garamond', serif;
  font-size: 3vh;
  margin-left: 30px;
  padding: 20px;
  padding-left: 50px;
  border: 1px solid #ffffff;
	width: 60vw;
	height: 100%;
}
#material {
  position: absolute;
  right: 50px;
  top: 200px;
}
